* {
	margin: 0;
}

#homeView,
#gameboardView {
	height: 100vh;
	display: flex;

	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.board {
	display: grid;

	grid-template-columns: repeat(10, 30px);
	grid-template-rows: repeat(10, 30px);
}

.board > .cell-opponent {
	border-top: none;
	border-bottom: 1px solid red;
	border-left: none;
	border-right: 1px solid red;
	background-color: white;
}

.board > .cell-opponent.cell-top {
	border-top: 1px solid red;
}

.board > .cell-opponent.cell-left {
	border-left: 1px solid red;
}

.board > .cell-opponent.attack-hit {
	background-color: indianred;
	border-color: darkred;
}

.board > .cell-opponent.attack-sunk {
	background-color: darkred;
	border-color: darkred;
}

.board > .cell-opponent.attack-fail {
	background-color: dimgray;
	border-color: black;
}

.board > .cell-friendly {
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

.board > .cell-friendly.cell-top {
	border-top: 1px solid black;
}

.board > .cell-friendly.cell-left {
	border-left: 1px solid black;
}

.board > .cell-friendly.ship {
	background-color: aqua;
	border-color: blue;
}

.board > .cell-friendly.attack-hit {
	background-color: indianred;
	border-color: darkred;
}

.board > .cell-friendly.attack-sunk {
	background-color: #333333;
	border-color: black;
}

.board > .cell-friendly.attack-fail {
	background-color: aquamarine;
}
